git add .gitignore
git commit -m "remove .env.local from tracking"# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*  --it will ignore all env files, you can specify which env files to ignore or not ignore by using .env.local, .env.development, etc. and adding them to the .gitignore file

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
